<div class="wrap">
    <!-- <audio src="file/bgm.mp3" id="bgaudio" autoplay></audio> -->
    <!-- <img src="file/bgmo.png" id="musicup"/> -->
    <div class="notice_back">
        <img src="file/close.png" class="close1" id="closen"/>
        <img src="file/notice.png" class="notice"/>
    </div>
    	<div class="backp"><img src="file/main.jpg" height="100%"></div>
    	<div class="main2">
    		<div class="wanh" id="wan" wht>
				<img src="file/circle.png" class="circle">
    		</div>
			<!-- <img src="circle.png" class="circle"> -->
			<img src="file/font-03.png" class="font">
			<img src="file/logo-04.png" class="logo">
			<div class="pfonts">
	    		<p class="pfont">学习花样20招</p>
	    		<p class="pfont">赢新西兰机票大奖</p>
	    		<!-- <p class="pfont"></p> -->
	    	</div>
	    	<div class="hd_link">
                <a href="http://c.admaster.com.cn/c/a51915,b760745,c2132,i0,m101,h" class="hdc"><img src="file/11-02.png" class="hd_jtt"/>优惠机票</a>
	    		<a href="javascript:" class="hda" id="wcr">活动细则<img src="file/11-01.png" class="hd_jt"/></a>
	    	</div>
    	</div>
    </div>

<div class="rule" id="cr">
    <div class="close" id="close2"><img src="file/close.png" class="closeee"></div>
    <div class="inner_rule">
    <h3 class="firsth">活动时间</h3>
    <h5>1. 活动参与时间：</h5>
    <p class="rup">2015年9月8日 － 2015年9月28日</p>
    <h5>2. 获奖名单公布时间：</h5>
    <p class="rup">2015年10月在新西兰航空微信公众号中公布</p>
    <h3>参与方式：</h3>
    <h5>1. 活动玩法：</h5>
    <p class="rup">关闭手机屏幕的自动旋转功能</p>
    <p class="rup">在手机屏幕所在平面内左右转动手机来启动“万花筒”</p>
    <p class="rup">当手机旋转到某个角度时，即可获得新西兰航空为你准备的1招＃爱出花样＃，共20招。</p>
    <h5>2. 参赛资格：</h5>
    <p class="rup">每获得1招视为已参与活动一次。 在活动期间（2015年9月8日 － 2015年9月28日），每位参与者可以重复参与本活动，或分享到微信朋友圈。</p>

    <h3>奖品设置：</h3>
    <h5>1. 花样飞行奖（一名) </h5>
    <p class="rup">上海－奥克兰 往返空中沙发套票（供两人乘坐，往返机票需在指定日期前进行兑现）</p>
    <h5>2. 花样浪漫奖（十名）</h5>
    <p class="rup">新西兰航空豪华公务舱个人洗簌包一对</p>

    <h3>条款及细则：</h3>
    <p class="rup">1. 活动日期为2015年9月8日至2015年9月28日，上述时间以外的参与均不会被计算。</p>
    <p class="rup">2. 本次活动仅限同时为新西兰航空官网微信及微博粉丝参加。</p>
    <p class="rup">3. 本次活动的大奖为上海－奥克兰往返空中沙发套票（供两人乘坐），获奖者需在2016年4月30日前进行机票兑换，更多细则请以兑奖信为准。</p>

    <p class="mrup">＊请各位参与者详细阅读活动规则与条款及细则；如有任何争议，新西兰航空保留最终解释及决定权。
    </p>
    <br/>
    <br/>
    </div>
</div>


